<html xmlns:f="http://www.w3.org/1999/html">
<f:layout name="Backend"></f:layout>
<f:section name="content">
  <h1>
    <f:translate key="ibe_settings"/>
  </h1>

  <f:if condition="{send} == 1">
    <f:if condition="{valid} == 1">
      <div class="success-box">
        <f:translate key="success.saved"/>
      </div>
    </f:if>
  </f:if>

  <f:if condition="{valid} == 0">
    <div class="error-box">
      <f:translate key="error.invalid_api"/>
    </div>
  </f:if>

  <form method="post">
    <f:if condition="{settings} == 0">
      <input type="hidden" name="authentication-required" value="1"/>

      <div class="info-box">
        <f:translate key="info.missing_access"/>
      </div>

      <table class="tx_memory table table-striped">
        <thead>
        <tr>
          <th colspan="2">
            <f:translate key="settings"/>
          </th>
        </tr>
        <tr>
          <td class="column-label">
            <f:translate key="wrapper.wrapper_group.api_key"/>
          </td>
          <td>
            <input type="text" class="input-text data-input-field" data-name="api_key" name="api_key"
                   value="{api_key}" placeholder="{f:translate(key: 'wrapper.wrapper_group.api_key')}">
          </td>
        </tr>
        <tr>
          <td class="column-label">
            <f:translate key="wrapper.wrapper_group.interface"/>
          </td>
          <td>
            <input type="text" class="input-text data-input-field" data-name="interface" name="interface"
                   value="{interface}" placeholder="{f:translate(key: 'wrapper.wrapper_group.interface')}">
          </td>
        </tr>
        <tr>
          <td class="column-label">
            <f:translate key="wrapper.wrapper_group.server"/>
          </td>
          <td>
            <input id="input-server-host" type="text" class="input-text data-input-field" data-name="server" name="server"
                   value="{server}" placeholder="{f:translate(key: 'wrapper.wrapper_group.server')}">
          </td>
        </tr>
      </table>
    </f:if>
    <f:if condition="{settings}">
      <div class="tab-bar">
        <f:for each="{settings}" as="sectionFieldCollection" key="section" iteration="iterator">
          <label class="{f:if(condition: '{iterator.index} == 0', then: 'current-tab')} {f:if(condition: '{settings.wrapper.wrapper_group.custom.value} == 0 && {iterator.index} > 0', then: 'custom-disabled')}"
                 data-index="{iterator.index}">
            <f:translate key="{section}"/>
          </label>
        </f:for>
        <label id="ibe-help-tab-bar">Hilfe</label>
      </div>
      <div class="tab-container-list">
        <f:for each="{settings}" as="sectionFieldCollection" key="section" iteration="iterator">
          <div class="tab-content {f:if(condition: '{iterator.index} == 0', then: 'current-content')}">
            <f:for each="{sectionFieldCollection}" as="fieldDataCollection" key="field">
              <table class="tx_memory table table-striped">
                <thead>
                <tr>
                  <th colspan="2">
                    <f:if condition="{fieldDataCollection.noEnabler} == 1">
                      <f:then>
                      </f:then>
                      <f:else>
                        <div class="enabled-selection">
                          <f:if condition="{fieldDataCollection.enabled} == 1">
                            <f:then>
                              <input id="{section}-{field}-enabled-yes" type="radio"
                                     class="input-checkbox"
                                     name="{section}[{field}][enabled]" checked
                                     value="1"/>
                            </f:then>
                            <f:else>
                              <input id="{section}-{field}-enabled-yes" type="radio"
                                     class="input-checkbox"
                                     name="{section}[{field}][enabled]" value="1"/>
                            </f:else>
                          </f:if>
                          <label for="{section}-{field}-enabled-yes"
                                 class="ibe-chk ibe-chk-yes"></label>
                          <f:if condition="{fieldDataCollection.enabled} == 0">
                            <f:then>
                              <input id="{section}-{field}-enabled-no" type="radio"
                                     class="input-checkbox"
                                     name="{section}[{field}][enabled]" checked
                                     value="0"/>
                            </f:then>
                            <f:else>
                              <input id="{section}-{field}-enabled-no" type="radio"
                                     class="input-checkbox"
                                     name="{section}[{field}][enabled]" value="0"/>
                            </f:else>
                          </f:if>
                          <label for="{section}-{field}-enabled-no"
                                 class="ibe-chk ibe-chk-no"></label>
                        </div>
                      </f:else>
                    </f:if>
                    <f:translate key="{field}"/>
                    <small data-key="{section}.{field}.help"><f:translate key="{section}.{field}.help"/></small>
                  </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{fieldDataCollection}" as="fieldValue" key="fieldKey">
                  <f:if condition="{fieldKey} != enabled">
                    <f:if condition="{fieldKey} != noEnabler">
                      <tr class="{fieldValue.class}">
                        <td class="column-label" data-key="{section}.{field}.{fieldKey}">
                          <f:translate key="{section}.{field}.{fieldKey}"/>
                        </td>
                        <td>
                          <div class="data-row">
                            <!-- TEXTAREA -->
                            <f:if condition="{fieldValue.type} == textarea">
                                                            <textarea name="{section}[{field}][{fieldKey}]"
                                                                      placeholder="{f:translate(key: '{section}.{field}.{fieldKey}')}">{fieldValue.value}</textarea>
                              <small data-key="{section}.{field}.{fieldKey}.help.field"><f:translate key="{section}.{field}.{fieldKey}.help.field"/></small>
                            </f:if>

                            <!-- CHECKBOX LIST with keyvalue-->
                            <f:if condition="{fieldValue.type} == checkboxes-multi-data">
                              <div class="sub-data-row">
                                <f:for each="{fieldValue.value}" as="checkbox"
                                       iteration="iterator">
                                  <div class="sub-data">
                                    <input type="hidden"
                                           name="{section}[{field}][{fieldKey}][{iterator.index}][name]"
                                           value="{checkbox.name}"/>
                                    <f:if condition="{checkbox.enabled} == 1">
                                      <f:then>
                                        <input id="{section}-{field}-{fieldKey}-{iterator.index}-value"
                                               class="input-checkbox"
                                               type="checkbox"
                                               name="{section}[{field}][{fieldKey}][{iterator.index}][value]"
                                               value="{checkbox.value}" checked>
                                        <label for="{section}-{field}-{fieldKey}-{iterator.index}-value"
                                               class="checkbox">{checkbox.name}</label>
                                      </f:then>
                                      <f:else>
                                        <input type="checkbox"
                                               id="{section}-{field}-{fieldKey}-{iterator.index}-value"
                                               name="{section}[{field}][{fieldKey}][{iterator.index}][value]"
                                               class="input-checkbox"
                                               value="{checkbox.value}">
                                        <label for="{section}-{field}-{fieldKey}-{iterator.index}-value"
                                               class="checkbox">{checkbox.name}</label>
                                      </f:else>
                                    </f:if>
                                  </div>
                                </f:for>
                                <small data-key="{section}.{field}.{fieldKey}.help.field"><f:translate key="{section}.{field}.{fieldKey}.help.field"/></small>
                              </div>
                            </f:if>

                            <!--CHECKBOX -->
                            <f:if condition="{fieldValue.type} == checkbox">
                              <div class="enabled-selection">
                                <f:if condition="{fieldValue.value} == 1">
                                  <f:then>
                                    <input id="{section}-{field}-{fieldKey}-enabled-yes" type="radio" class="input-checkbox data-input-field" data-name="{fieldValue.name}" name="{section}[{field}][{fieldKey}]" checked value="1" />
                                  </f:then>
                                  <f:else>
                                    <input id="{section}-{field}-{fieldKey}-enabled-yes" type="radio" class="input-checkbox data-input-field" data-name="{fieldValue.name}" name="{section}[{field}][{fieldKey}]" value="1" />
                                  </f:else>
                                </f:if>
                                <label for="{section}-{field}-{fieldKey}-enabled-yes" class="ibe-chk ibe-chk-yes"></label>
                                <f:if condition="{fieldValue.value} == 0">
                                  <f:then>
                                    <input id="{section}-{field}-{fieldKey}-enabled-no" type="radio" class="input-checkbox data-input-field" data-name="{fieldValue.name}" name="{section}[{field}][{fieldKey}]" checked value="0" />
                                  </f:then>
                                  <f:else>
                                    <input id="{section}-{field}-{fieldKey}-enabled-no" type="radio" class="input-checkbox data-input-field" data-name="{fieldValue.name}" name="{section}[{field}][{fieldKey}]" value="0" />
                                  </f:else>
                                </f:if>
                                <label for="{section}-{field}-{fieldKey}-enabled-no" class="ibe-chk"></label>
                                <small data-key="{section}.{field}.{fieldKey}.help.field"><f:translate key="{section}.{field}.{fieldKey}.help.field"/></small>
                              </div>
                            </f:if>

                            <!--CHECKBOX LIst -->
                            <f:if condition="{fieldValue.type} == checkboxes">
                              <div class="sub-data-row">
                                <f:for each="{fieldValue.value}" as="checkbox" iteration="iterator">
                                  <div class="sub-data">
                                    <f:if condition="{checkbox.enabled} == 1">
                                      <f:then>
                                        <input id="{section}-{field}-{fieldKey}-{iterator.index}" data-name="{fieldValue.name}" type="checkbox" class="input-checkbox data-input-field" name="{section}[{field}][{fieldKey}][]" value="{checkbox.value}" checked>
                                        <label for="{section}-{field}-{fieldKey}-{iterator.index}" class="checkbox">{checkbox.name}</label>
                                      </f:then>
                                      <f:else>
                                        <input id="{section}-{field}-{fieldKey}-{iterator.index}" data-name="{fieldValue.name}" type="checkbox" class="input-checkbox data-input-field" name="{section}[{field}][{fieldKey}][]" value="{checkbox.value}">
                                        <label for="{section}-{field}-{fieldKey}-{iterator.index}" class="checkbox">{checkbox.name}</label>
                                      </f:else>
                                    </f:if>
                                  </div>
                                </f:for>
                                <small data-key="{section}.{field}.{fieldKey}.help.field"><f:translate key="{section}.{field}.{fieldKey}.help.field"/></small>
                              </div>
                            </f:if>

                            <!-- RADIO LIST -->
                            <f:if condition="{fieldValue.type} == radios">
                              <div class="sub-data-row">
                                <f:for each="{fieldValue.value}" as="radio" iteration="iterator">
                                  <div class="sub-data">
                                    <f:if condition="{radio.enabled} == 1">
                                      <f:then>
                                        <input id="{section}-{field}-{fieldKey}-{iterator.index}" class="input-radio" type="radio" name="{section}[{field}][{fieldKey}]" value="{radio.value}" checked>
                                        <label for="{section}-{field}-{fieldKey}-{iterator.index}" class="chk-radio">{radio.value}</label>
                                      </f:then>
                                      <f:else>
                                        <input id="{section}-{field}-{fieldKey}-{iterator.index}" class="input-radio" type="radio" name="{section}[{field}][{fieldKey}]" value="{radio.value}">
                                        <label for="{section}-{field}-{fieldKey}-{iterator.index}" class="chk-radio">{radio.value}</label>
                                      </f:else>
                                    </f:if>
                                  </div>
                                </f:for>
                                <small data-key="{section}.{field}.{fieldKey}.help.field"><f:translate key="{section}.{field}.{fieldKey}.help.field"/></small>
                              </div>
                            </f:if>

                            <f:if condition="{fieldValue.type} == select">
                              <div class="sub-data-row">
                                <select id="{section}-{field}-{fieldKey}-{iterator.index}" name="{section}[{field}][{fieldKey}]" class="input-select data-input-field">
                                  <f:for each="{fieldValue.value}" as="option" iteration="iterator">
                                    <div class="sub-data">
                                      <f:if condition="{option.key} == {fieldValue.selected}">
                                        <f:then>
                                          <option value="{option.key}" selected>{option.label}</option>
                                        </f:then>
                                        <f:else>
                                          <option value="{option.key}">{option.label}</option>
                                        </f:else>
                                      </f:if>
                                    </div>
                                  </f:for>
                                </select>
                                <small data-key="{section}.{field}.{fieldKey}.help.field"><f:translate key="{section}.{field}.{fieldKey}.help.field"/></small>
                              </div>
                            </f:if>

                            <f:if condition="{fieldValue.type} == selectize">
                              <div class="sub-data-row">
                                <input type="hidden" name="{section}[{field}][{fieldKey}]" value="[]"/>
                                <textarea style="display: none;">{fieldValue.value}</textarea>
                                <input type="text" class="input-selectize data-input-field" id="{section}-{field}" value="{fieldValue.selected}"/>
                                <small data-key="{section}.{field}.help.field"><f:translate key="{section}.{field}.help.field"/></small>
                              </div>
                            </f:if>

                            <!-- TEXT -->
                            <f:if condition="{fieldValue.type} == text">
                              <input id="input-{fieldKey}" type="text" class="input-text data-input-field" data-name="{fieldValue.name}" name="{section}[{field}][{fieldKey}]" value="{fieldValue.value}" placeholder="{f:translate(key: '{section}.{field}.{fieldKey}')}"/>
                              <small data-key="{section}.{field}.{fieldKey}.help.field"><f:translate key="{section}.{field}.{fieldKey}.help.field"/></small>
                            </f:if>
                          </div>
                        </td>
                      </tr>
                    </f:if>
                  </f:if>
                </f:for>
                </tbody>
              </table>
            </f:for>
          </div>
        </f:for>
        <div id="ibe-help-tab-content" class="tab-content">
          <p>
            Einrichten der Seo urls für die IBE in Typo 3.9.x
          </p>

          <ul>
            <li>
              Erstellen Sie eine Seiten Konfiguration unter <strong>Site Management</strong> >> <strong>Sites</strong>
            </li>
            <li>
              Haben Sie die Konfigurationsdatei erstellt haben, dann verbinden Sie sich mit ihren Webserver über FTP oder einem anderen Programm worüber sie zugriff auf die Server Dateien haben.
            </li>
            <li>
              Wechseln sie in das Verzeichnis der Typo3 Installation
            </li>
            <li>
              Navigieren Sie innerhalb des typosystems zum Verzeichnis <strong>/typo3conf/sites/&lt;IDENTIFIER&gt;/</strong><br />
              <small>Hinweis: den Identifier finden Sie in ihrer Seiten Konfiguration im Tab General im Feld Site Identifier</small>
            </li>
            <li>
              öffnen Sie in diesem Verzeichnis die Datei <strong>config.yaml</strong>
            </li>
            <li>
              In dieser Datei fügen Sie nach dem Wert <strong>routes</strong> folgende Zeilen ein
              <pre>
routeEnhancers:
dsIbe:
type: Extbase
extension: HrsIbe
plugin: Orcas.HrsIbe
routes:
    - routePath: '/ggv/&#123;p_location&#125;/&#123;p_star&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_location: location
        p_star: star
        p_object: object
        p_id: ibe-id
    - routePath: '/ggv/&#123;p_location&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_location: location
        p_object: object
        p_id: ibe-id
    - routePath: '/&#123;p_locale&#125;/ggv/&#123;p_location&#125;/&#123;p_star&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_location: location
        p_star: star
        p_object: object
        p_id: ibe-id
    - routePath: '/&#123;p_locale&#125;/ggv/&#123;p_location&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_location: location
        p_object: object
        p_id: ibe-id
    - routePath: '/buchen/&#123;p_locale&#125;/book'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
    - routePath: '/buchen/&#123;p_locale&#125;/merkliste'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
    - routePath: '/action'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
    - routePath: '/details/&#123;p_locale&#125;/&#123;p_object&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_object: object
    - routePath: '/item/&#123;p_locale&#125;/&#123;p_object&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_object: object
    - routePath: '/details/&#123;p_locale&#125;/&#123;p_location&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_location: location
        p_object: object
        p_id: ibe-id
    - routePath: '/item/&#123;p_locale&#125;/&#123;p_location&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_location: location
        p_object: object
        p_id: ibe-id
    - routePath: '/details/&#123;p_locale&#125;/&#123;p_location&#125;/&#123;star&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_location: location
        p_star: star
        p_object: object
        p_id: ibe-id
    - routePath: '/item/&#123;p_locale&#125;/&#123;p_location&#125;/&#123;star&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_location: location
        p_star: star
        p_object: object
        p_id: ibe-id
    - routePath: '/details/&#123;p_locale&#125;/ggv/&#123;p_location&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_location: location
        p_object: object
        p_id: ibe-id
    - routePath: '/item/&#123;p_locale&#125;/ggv/&#123;p_location&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_location: location
        p_object: object
        p_id: ibe-id
    - routePath: '/details/&#123;p_locale&#125;/ggv/&#123;p_location&#125;/&#123;star&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_location: location
        p_star: star
        p_object: object
        p_id: ibe-id
    - routePath: '/item/&#123;p_locale&#125;/ggv/&#123;p_location&#125;/&#123;star&#125;/&#123;p_object&#125;/&#123;p_id&#125;'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
        p_location: location
        p_star: star
        p_object: object
        p_id: ibe-id
    - routePath: '/&#123;p_locale&#125;/book'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
    - routePath: '/&#123;p_prefix&#125;/&#123;p_locale&#125;/merkliste'
      _controller: 'View::list'
      _arguments:
        p_prefix: prefix
        p_locale: locale
    - routePath: '/&#123;p_locale&#125;/merkliste'
      _controller: 'View::list'
      _arguments:
        p_locale: locale
    - routePath: '/&#123;p_locale&#125;/request'
      _controller: 'View::requestFunnel'
      _arguments:
        p_locale: locale
    - routePath: '/&#123;p_prefix&#125;/&#123;p_locale&#125;/request'
      _controller: 'View::requestFunnel'
      _arguments:
        p_prefix: prefix
        p_locale: locale
    - routePath: '/request'
      _controller: 'View::requestFunnel'
              </pre>
            </li>
          </ul>
        </div>
      </div>
    </f:if>
    <input type="submit" id="save-settings" name="save-settings" value="{f:translate(key: 'btn.save')}"/>
    <div id="ibe-save-loader">
      <div class="lds-dual-ring"></div>
    </div>
  </form>
</f:section>
</html>
