<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/typo3conf/ext/hrs_ibe/Resources/Public/Css/lib/selectize.default.css?v=5" media="all">
    <link rel="stylesheet" type="text/css" href="/typo3conf/ext/hrs_ibe/Resources/Public/Css/backend/style.css?v=9" media="all">
<!--    <script-->
<!--            src="https://code.jquery.com/jquery-2.2.4.min.js"-->
<!--            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="-->
<!--            crossorigin="anonymous"></script>-->
    <script type="application/javascript" src="/typo3conf/ext/hrs_ibe/Resources/Public/Js/lib/jQuery-modified.js?v5"></script>
    <script type="application/javascript" src="/typo3conf/ext/hrs_ibe/Resources/Public/Js/lib/selectize.js?v5"></script>
</head>
<f:be.container>
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
            </div>
            <div class="typo3-docheader-buttons">
            </div>

        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:flashMessages />
                <f:render section="content" />
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/typo3conf/ext/hrs_ibe/Resources/Public/Js/backend/script.js?v31"></script>
</f:be.container>
</html>