<html xmlns:f="http://www.w3.org/1999/html">
<f:layout name="Custom"></f:layout>
<f:section name="content">
    <!-- Suchbox-->
    <div class="[ c-result-list__actions__search-wrapper ]">
        <div class="[ c-header__search-form ]">
            <div class="[ c-header__search-form__field ]">
                <div class="[ c-header__search-form__label ]">
                    <span class="[ c-icon c-icon--map-marker-alt-2 ]"></span>
                    <input type="text" placeholder="Wohin soll es gehen?">
                </div>
            </div>
            <div class="[ c-header__search-form__field ]">
                <div class="[ c-header__search-form__label ]">
                    <span class="[ c-icon c-icon--calendar-alt ]"></span>
                    <input type="date">
                </div>
                <div class="[ c-header__search-form__traveldate-unknown ]">
                    <label class="checkbox-container">Reisedatum unbekannt
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="[ c-header__search-form__field c-header__search-form__field--select ]">
                <label>Erw.</label>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="[ c-header__search-form__field c-header__search-form__field--select ]">
                <label>Kinder</label>
                <select>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="[ c-header__search-form__button ]">
                <a href="#" class="[ c-btn c-btn--secondary ]">
                    <span class="[ c-icon c-icon--house-circle ] [ c-header__search-form__button-icon ]"></span>
                    <p class="[ c-header__search-form__button-text ]">Unterkünfte<br>finden</p>
                </a>
            </div>
        </div>
    </div>

    <!-- Ergebniss Liste -->
    <div class="[ c-teaser c-result-list ]">
        <div class="[ c-result-list__content ]">
            <div class="[ c-result-list__content__tiles ]">

                <f:for each="{ibepage.objects}" as="object" iteration="iterator">
                    <div class="[ c-result-list__content__list__item ]">
                        <div class="[ c-teaser__section-wrapper ]">
                            <div class="[ c-teaser__bg ]">
                                <img src="{object.imageView.0.url}" class="[ c-teaser__image ]">
                            </div>
                            <div class="[ c-teaser__header ]">
                                <div class="[ c-teaser__badge ]">
                                    <span>Neu</span>
                                </div>
                                <div class="[ c-teaser__wishlist ]">
                                    <a href="#">
                                        <span class="[ c-icon c-icon--heart ]"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="[ c-teaser__information-wrapper ]">
                                <p class="[ c-teaser__headline ]">{object.description}</p>
                                <div class="[ c-teaser__information ]">
                                    <span class="[ c-icon c-icon--map-marker-alt-2 c-teaser__information__icon ]"></span>
                                    <span>{object.city}</span>
                                    <ul class="[ c-teaser__information-rating ]">
                                        <li>
                                            <span class="[ c-icon c-icon--star ]"></span>
                                            <span class="[ c-icon c-icon--star ]"></span>
                                            <span class="[ c-icon c-icon--star ]"></span>
                                            <span class="[ c-icon c-icon--star ]"></span>
                                        </li>
                                        <li class="[ c-teaser__information-rating__text ]">
                                            <span>Tiscover Sterne</span>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <span class="[ c-icon c-icon--question-circle c-teaser__information__help ]"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="[ c-teaser__details ]">
                                <p class="[ c-teaser__details-text ]">{object.oFacility}</p>
                                <div class="[ c-teaser__details-circle ]">
                                    <svg viewBox="0 0 36 36" class="[ c-teaser__details-circular-chart ]">
                                        <path class="[ c-teaser__details-circle-bg ]" d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                                        <path class="[ c-teaser__details-circle ]" stroke-dasharray="90, 100" d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"></path>

                                        <text x="18" y="18.35" class="[ c-teaser__details-circle-number ]">4,7</text>
                                        <text x="18" y="26.35" class="[ c-teaser__details-circle-text ]">von 5</text>
                                    </svg>
                                </div>
                                <div class="[ c-result-list__details-price ]">
                                    <span>{object.minPrice},- €</span>
                                    <a href="{object.detailUrl}" class="[ c-btn c-btn--secondary ]">Zum Angebot</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </f:for>

                <div class="[ c-result-list__paging ]">
                    <div class="[ u-paging ]">
                        <a href="?ibe-page={ibepage.paginationPrev}" class="[ u-paging__item ] [ c-icon c-icon--arrow-alt-circle-left ]"></a>
                        <f:for each="{ibepage.paginationPages}" as="page" iteration="iterator">
                            <f:if condition="{ibepage.paginationPage} == {page}">
                                <f:then>
                                    <a href="?ibe-page={page}" class="[ u-paging__item ] active">{page}</a>
                                </f:then>
                                <f:else>
                                    <f:if condition="{page} == -1">
                                        <f:then>
                                            <span class="[ u-paging__item no-link ]">...</span>
                                        </f:then>
                                        <f:else>
                                            <a href="?ibe-page={page}" class="[ u-paging__item ]">{page}</a>
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:for>
                        <a href="?ibe-page={ibepage.paginationNext}" class="[ u-paging__item ] [ c-icon c-icon--arrow-alt-circle-right ]"></a>
                    </div>
                </div>
            </div>
            <div class="[ c-result-list__content__map ]">
                <img class="[ c-logo__img ]" src="/typo3conf/ext/hrs_ibe/Resources/Public/Custom/img/map_marker.png" alt="map">
            </div>
        </div>
    </div>
</f:section>
</html>