table {
  font-size: 12px;
}

.enabled-selection {
  position: relative;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: top;
  background: #fff;

  label {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #cdcdcd;
    z-index: 5;
  }

  label:hover {
    border: 1px solid #444;
    cursor: pointer;
  }

  .input-checkbox {
    display: none;
  }

  .input-checkbox:checked + label {
    z-index: 1;
  }

  .input-checkbox:checked {
    + label.ibe-chk-yes:after, label.checkbox:after {
      content: "";
      border-right: 2px solid #444;
      border-bottom: 2px solid #444;
      width: 5px;
      height: 10px;
      display: inline-block;
      transform: rotate(45deg);
      position: absolute;
      left: 4px;
      top: 0;
    }
  }
}

.sub-data-row {
  position: relative;

  .sub-data {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;

    .input-checkbox, .input-radio {
      + label {
        padding: 0 0 0 20px;
        display: inline-block;
        width: 200px;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 0;
      }

      + label:before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #cdcdcd;
        background: #fff;
      }
    }

    label.chk-radio:before {
      border-radius: 50%;
    }

    label:hover:before {
      border: 1px solid #444;
      cursor: pointer;
    }

    .input-checkbox, .input-radio {
      display: none;
    }

    .input-checkbox:checked, .input-radio:checked {
      + label.checkbox:after, + label.chk-radio:after {
        content: "";
        border-right: 2px solid #444;
        border-bottom: 2px solid #444;
        width: 5px;
        height: 10px;
        display: inline-block;
        transform: rotate(45deg);
        position: absolute;
        left: 5px;
        top: 1px;
      }
    }
  }
}

table {
  .column-label {
    width: 100px;
    vertical-align: text-bottom;
    padding-top: 14px;
    font-weight: bold;
    border-right: 1px solid rgb(204, 204, 204);
  }

  .keymap-value {
    td {
      border-top: 0 !important;
    }

    .column-label {
      padding-left: 30px !important;
    }
  }
}

.current-tab {
  background: #f7f7f7 !important;
  position: relative;
}

.current-tab:after {
  position: absolute;
  content: "";
  left: 0;
  right:0;
  height: 3px;
  bottom: -2px;
  background: #f7f7f7 !important;
}

.tab-bar {
  z-index: 5;
  padding-left: 5px;

  label {
    height: 35px;
    border: 1px solid #cdcdcd;
    border-bottom: 0;
    padding: 0 15px;
    line-height: 35px;
    margin: 0;
    margin-right: 5px;
    cursor: pointer;
    background: #ededed;
  }
}

.tab-content {
  padding: 15px;
  border: 1px solid #cdcdcd;
  background: #f7f7f7;
  display: none;
}

.hide-enabler {
  display: none !important;
}

.current-content {
  display: block !important;
}

.custom-disabled {
  opacity: 0.5;
  cursor: default;
}

.info-box {
  border: 1px solid darken(#cdcdcd, 20%);
  background: #cdcdcd;
  padding: 10px 15px;
  margin: 0 0 5px 0;
  color: #444;
}

.error-box {
  border: 1px solid darken(#f8d7da, 20%);
  background: #f8d7da;
  padding: 10px 15px;
  margin: 0 0 5px 0;
  color: #721c24;
}

.success-box {
  border: 1px solid darken(#d4edda, 20%);
  background: #d4edda;
  padding: 10px 15px;
  margin: 0 0 5px 0;
  color: #155724;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #292929;
  border-color: #292929 transparent #292929 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

input[type="text"] {
  width: 100%;
}

small {
  display: block;
  color: #444;
  font-size: 12px;
  font-weight: normal;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#ibe-save-loader, .field-hidden {
  display: none;
}
.selection {
  .data {
    display: block;
    font-size: 10px;
  }
}

.option {
  background: #f7f7f7;
  margin: 5px;
  padding: 0 !important;
  border: 1px solid #ccc;
  transition: margin .2s linear;
  cursor: pointer;

  .label {
    color: #444;
    font-size: 16px;
    font-weight: normal;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
  }

  .caption {
    display: block;
    background: #ededed;
    border-top: 1px solid #ccc;
    font-size: 12px;
    padding: 2px;
    cursor: pointer;
  }
}

.option.active {
  margin: 5px 15px;
}
